#head1{
    font-style: italic;
    font-size: 1.5em;
    font-family: "Arial Black";
    background-color: grey;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    color: white;
    text-shadow: 4px 3px 9px lightblue;
    border-bottom: black solid 1px;
    border-top: darkblue solid 2px;


}

#annRep{
    margin-top:10px;
    font-size: 3.5em;
    font-family: "Arial Black";
    background-color: lightyellow;
    text-align: center;
    padding-top: 10px;
    color: black;
    text-shadow: 4px 3px 9px lightblue;
    height: 100px;
    display: block;
    border-top: grey solid 1px;
    border-bottom: darkblue solid 3px;

}

.alt{
    font-family: "Arial Black";
    font-size: 2em;
    color: blue;

}

#btn{
     float: right;
     margin: 20px 40px 20px auto;
     width: 200px;
     height: 25px;
    font-size: 1em;
    font-family: "Times New Roman";
    font-weight: normal;
     color: #000000;
     background-color: lightblue;
     box-shadow: 4px 3px 9px lightgray;
     display: block;
 }

#dates{
    float: right;
    width: 500px;
    height: 40px;
    margin: 20px;
    font-size: 1em;
    font-family: "Times New Roman";
    font-weight: normal;
    color: grey;
    display: inline;
    position: relative;
    top: 10px;
    right: 10px;
}